body{
    background: cadetblue;
}
.main{
    margin: 0 auto;
    height: 900px;
    width: 900px;
    background: chartreuse;
    border:2px solid black;
}
.head{
    height: 10%;
    width: 100%;
    background: red;
    border-bottom: 2px solid black;
    text-align: center;
}
#head1{
    width: 34%;
    height: 100%;
    border-right: 2px solid black;
    float: left;  
}
#head2{
    width: 65%;
    height: 100%;
    float: right;
}
.head > div p{
    text-align: center;
}
.bar{
    height: 10%;
    width: 100%;
    background: chocolate;
    border-bottom: 2px solid black;
}
.bar p{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 3%;
}
.space{
    height: 5%;
    width: 100%;
    border-bottom: 1px solid black;
}
.b{
    height: 60%;
    width: 100%;
    background: blueviolet;
}
.b1{
    height: 100%;
    width: 24%;
    background: brown;
    border-right: 2px solid black;
    float: left;
}
.b2{
    height: 100%;
    width: 50%;

    float: left;
}
.b3{
    height: 100%;
    width: 25%;
    background: brown;
    border-left: 2px solid black;
    float: right;
}
.b21{
    height: 29%;
    width: 100%;

    border-bottom: 2px solid black;
}
.b22{
    height: 40%;
    width: 100%;
}
.b23{
    height: 29%;
    width: 100%;

    border-top: 2px solid black;
}
.b221{
    height: 100%;
    width: 50%;
    float: left;
}
.b221{
    height: 100%;
    width: 49%;
    float: right;
    border-left: 2px solid black;
}
.space2{
    height: 5%;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
}
.foot{
    width: 100%;
    height: 9%;
    background: blue;
}
p{
    padding:0;
    margin: 0 auto;
}
.b1 p{
    padding-top: 10px;
    padding-left:5px
}
.b3 p{
    padding-top: 10px;
    padding-left:5px;
}
.b21 p{
    padding-top: 35px;
    padding-left:55px;
}
.b221 p{
    padding-top: 50px;
}
.b222 p{
    padding-top: 50px;
}
.b23{
    padding-top: 35px;
    padding-left:55px;
}
.foot p{
    padding-top: 10px;
    padding-left:200px;
}